.task-list{:class => title.downcase.gsub(" ", "_")}
  %div.expand +
  %h2= title

  - if tasks != nil and not tasks.empty?
    %ul
      - tasks.each do |task|
        %li{:id => "task_#{task.id}", :class => (task.due_at.to_time < Time.new ? "past" : "upcoming") + " " + (task.complete? ? "complete" : "incomplete") + " priority#{task.priority} task"}
          %div.task-wrapper
            %span.description= task.description
            %span.priority{:style => (task.priority != nil and task.priority > 0 and task.priority < 10 ? "" : "display: none")}= task.priority
  - else
    %p.empty
      = message
